<div class="row">
  <div class="col-md-3" ng-repeat="c in contactsList.contacts">
    <div class="honeybook--contact-item-container">
      <div class="honeybook--contact-item" ng-mouseenter="hovered = true" ng-mouseleave="hovered = false">
        <img src="{{c.profile_image}}" class="w-1-1" alt="{{c.name}} photo">

        <div class="honeybook--contact-item__details-container" ng-class="{slideUp:hovered}">
          <img src="{{c.icon}}" class="honeybook--contact-item__company-icon" alt="Company icon">

          <h4 class="mt-xxl mb-xxs">{{c.name}}</h4>

          <h6 class="mt-0 fz-sm lh-1-2 c-gray">{{c.job}} &#124; {{c.company_name}}</h6>

          <div class="pt-xxl">
            <h6 class="mt-0 mb-0 fz-sm lh-1-2 c-gray">Phone number: {{c.phone}}</h6>
            <h6 class="mt-0 mb-0 fz-sm lh-1-2 c-gray">{{c.email}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>